html {
    font-family: arial,sans-serif;
    font-size: 16px;
}

#logo {
    display: block;
}

#searchbar {

}

#button {
    background-color: #f8f9fa;
    color: #3c4043;
    
    margin: 10px 10px;
    padding: 0 16px;
    border: 2px solid #f8f9fa;
    border-radius: 2px;
    
    height: 30px;

    text-align: center;
}

#centre {
    display: block;
    position: relative;
    top: 200px;
    left: 500px;
}